body {
  margin: 0;
  padding: 20px;
}


.container {
  height: 400px;
  border: 10px solid #c79b1b;
  display: flex;      
}


.box {
  flex: 1;           
  display: flex;      
  justify-content: center;
  align-items: center;

  font-size: 60px;
  color: white;
  font-family: Georgia, serif;
}


.b1 { background: green; }
.b2 { background: yellow; }
.b3 { background: purple; }
.b4 { background: gray; }
.b5 { background: blue; }
.b6 { background: orange; }
.b7 { background: pink; }
.b8 { background: red; }
.b9 { background: brown; }